<div data-role="page" id="accueil" data-url="/produits?mobile1=1">
<div data-role="header">
<h1>Mobile !</h1>
<h1>Nos produits</h1>
<h1>Produits disponibles</h1>
</div>
<div data-role="content">
<ol data-role="listview" data-inset="true" id="listeProduits">
  <% @produits.each do |produit|   %>
			<li><a href="/produits/<%= produit.id %>?mobile1=1"><img width="60" height="70" src="<%= produit.image %>" /><%= produit.nom %></a></li>
     <%end%> 
</ol>
</div>
</div><!-- /page -->